:root{
  font-family: 'Lexend Deca', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Condensed', sans-serif;

}
*{
  padding: 0;
  margin: 0;
}

body{
  padding: 3% 0 3% 0; 
  background-image: url('https://i.gifer.com/fxVE.gif');
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat; 
}
#root{
  margin: 0;
padding: 0;
}
.ap{
 display: flex;
 justify-content:center;
 align-items: center;
 flex-direction: column;
 flex-wrap: wrap;
 padding: 1rem;
 top: -10px;
 gap: 1rem;

}
.lemale img{
  width: 200px;
  height: 200px;
  top: -10px;
}
.app .frase {
  width: 90%;
  background: #fff;
  height: 250px;
  border-radius: 20px;
  opacity: 0.8;
}
.app .frase .item{
  padding: 1rem;
  align-items: center;
  justify-content: center;
}
.app button{
  background: #e1ac01;
  padding: 1rem;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  box-shadow: 10px 10px 10px #1c1c1c;
}
.app button:hover{
  background: #57ec01;
  padding: 1rem;
  border-radius: 20px;
  font-size: 15px;
  color: #fff;
  box-shadow: 10px 10px 10px #1c1c1c;
}
/*Cuando sea menor a 600px*/
@media (min-width: 600px) {
  body{
 margin: 0;
  padding: 0;
    background: url('https://i.gifer.com/U3xO.gif');
 background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  }
  .ap{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    padding: 1rem;
    top: -10px;
    gap: 1rem;
    transform: translateX(-10px);
   }
   .app{
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
  }
  /* … */
}
